php_value display_errors on
RewriteEngine on
RewriteRule ^signin$ /BeautifulPeople/admin_signin.php [NC]
RewriteRule ^signup$ /BeautifulPeople/admin_signup.php [NC]
RewriteRule ^reset$ /BeautifulPeople/admin_reset.php [NC]
RewriteRule ^passwordreset$ /BeautifulPeople/admin_passwordreset.php [NC]
RewriteRule ^ormocterminal/$ /BeautifulPeople/ormocterminal/admin.php [NC]
RewriteRule ^ormocterminal/dashboard$ /BeautifulPeople/ormocterminal/admin.php [NC]
RewriteRule ^ormocterminal/registerpuv$ /BeautifulPeople/ormocterminal/register_puv.php [NC]
RewriteRule ^ormocterminal/queuingpuv$ /BeautifulPeople/ormocterminal/queuing_puv.php [NC]
RewriteRule ^ormocterminal/waitingpassengers$ /BeautifulPeople/ormocterminal/waiting_passengers.php [NC]
RewriteRule ^ormocterminal/returningpuv$ /BeautifulPeople/ormocterminal/returning_puv.php [NC]
RewriteRule ^ormocterminal/registerdispatcher$ /BeautifulPeople/ormocterminal/register_dispatcher.php [NC]
RewriteRule ^ormocterminal/logs$ /BeautifulPeople/ormocterminal/vehicle_logs.php [NC]
RewriteRule ^ormocterminal/dispatcherprofile$ /BeautifulPeople/ormocterminal/dispatcher_profile.php [NC]
RewriteRule ^ormocterminal/vehicleprofile$ /BeautifulPeople/ormocterminal/vehicle_profile.php [NC]
