@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./poiret_one/PoiretOne-Regular.ttf) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0100-024F,
  U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
  U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

*{
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
}

body{
  margin: 0px;
}

.main-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
}

.nav-container{
  padding: 0px;
  margin: 5px;
}

.body-container{
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 0px;
  margin: 5px;
}

.top-nav{
  padding: 10px;
  border-radius: 10px;
  background-color: #F8F9F9 ;
  box-shadow: -5px 5px 10px black;
}

.top-nav span{
  font-size: 30px;
  margin: 0;
}

.side-nav{
  border-radius: 5px;
  padding: 10px;
  background-color: #F8F9F9 ;
  box-shadow: -5px 5px 10px black;
}

.side-nav button{
  font-size: 30px;
  border: none;
  background-color: #F8F9F9 ;
  margin-bottom: 5px;
}

.a{
  width: 200px;
}

.a button{
  border-radius: 5px;
  background-color: #f1c40f;
  height: 40px;
  width: 100%;
  font-size: 1.5em;
  box-shadow: -5px 5px 10px black;
  text-align: center;
}

.a button:hover{
  cursor: pointer;
}

.a button:active{
  box-shadow: -5px 5px 10px inset;
}

.b{
  display: none;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #f1c40f;
  box-shadow: -5px 5px 10px black;
}

.b button{
  position: relative;
  width: 50px;
  height: 50px;
}

.b button img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: 10px;
  border-radius: 5px;
  padding: 30px 0 30px 0;
  background-color: #F8F9F9 ;
  box-shadow: -5px 5px 10px black;
}

.div-1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.div-1 div{
  width: 100%;
  height: 35px;
  margin: 0px 0px 30px 0px;
}

.div-1 div input{
  width: 100%;
  height: 100%;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: -5px 5px 10px inset;
  outline: none;
}


.div-1 div input:focus{
  box-shadow: -5px 5px 10px black;
}

.div-1 div select{
  width: 100%;
  height: 100%;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: -5px 5px 10px inset;
  outline: none;
}

#submit-button{
  background-color: #f1c40f;
  box-shadow: -5px 5px 10px black;
}

.div-1 div select:focus{
  box-shadow: -5px 5px 10px black;
}

.subfield{
  position: relative;
  width: 50%;
  min-width: 350px;
  height: 523px;
  /* border: 1px solid black; */
}

.div-1{
  /* border: 1px solid red; */
}

.generated-qr{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 274px;
}

.generated-qr button{
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 10px;
  background-color: #5dade2;
  border-radius: 5px;
  box-shadow: -5px 5px 10px black;
}

#for-print{
  box-shadow: -5px 5px 10px black;
  border-radius: 10px;
  width: 272px;
  height: 334px;
  position: relative;
  background-image: url('./background.JPG');
}

#qrimage{
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#plateno{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 60%;
}
